html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "YuGothic", "Yu Gothic", "游ゴシック", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  color: $black;
  background-color: $base;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
}

.positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.bgStyle {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.spTitle {
  text-align: center;
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 60px;
}

.spBtn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid $black;
  background-color: $accent;
  color: $white;
  transition: all .3s;
}

.global {
  opacity: 0;
  position: relative;

  &__btn {
    position: fixed;
    top: 0;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 300;

    span {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 14px;
      height: 3px;
      border-radius: 2px;
      background-color: $white;

      &:nth-child(1) {
        top: 15px;
        width: 45%;
      }
      &:nth-child(2) {
        top: 23px;
        width: 35%;
      }
      &:nth-child(3) {
        top: 31px;
        width: 20%;
      }
    }
  }

  &__nav {
    @extend .navCover;
    display: none;
    z-index: 200;
  }

  &__ul {
    @extend .positionCenter;
    text-align: center;
    opacity: 0;
    z-index: 9;
  }

  &__li {
    font-size: 2rem;
    
    a {
      display: block;
      padding: 15px;
      color: $white;
      position: relative;

      @include linkUnderLine;
    }
  }

  &__circle {
    @include circleBg {
      left: -15px;
    }
  }

  &__time {
    position: fixed;
    top: 0;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 300;
    color: $white;

    i {
      font-size: 3.0rem;
      @extend .positionCenter;
      opacity: 0;
    }
  }

  &__inner {
    @extend .navCover;
    z-index: 200;
    display: none;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 80%;
    margin: 0 auto;
  }

  &__sub {
    text-align: center;
    font-size: 2.8rem;
    font-weight: normal;
    margin-bottom: 30px;
    color: $white;
  }
  
  &__description {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: $white;

    dt {
      font-size: 2rem;
      margin-bottom: 5px;
      width: 30%;
      animation-delay: .2s !important;
    }

    dd {
      text-align: right;
      animation-delay: .3s !important;
    }

    span {
      display: block;
    }
  }

  &__circleTime {
    @include circleBg {
      right: -15px;
    }
  }

  &__top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    display: none;

    a {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $accent;
      color: $white;
      transition: all .3s;

      &:hover {
        opacity: .7;
      }

      i {
        @extend .positionCenter;
        font-size: 2.4em;
      }
    }
  }
}

.header {
  background-color: $main;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  &__container {
    padding: 0 20px;
  }

  &__title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: normal;
    line-height: 50px;

    a {
      color: $white;
    }
  }

  &__font {
    display: none;
  }
}

.navbar {
  display: none;
}

.hero {
  height: calc(100vh - 50px);
  position: relative;
  margin-top: 50px;

  &__slider {
    height: calc(100vh - 50px);
  }

  &__slide {
    height: calc(100vh - 50px);
    @extend .bgStyle;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background-image: url(../img/slide#{$i}.jpg);
      }
    }
  }

  &__news {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white;
    border: 1px solid $black;
  }

  &__container {
    padding: 20px;
  }

  &__head {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 15px;
  }

  &__wrapper {
    dt {
      margin-bottom: 5px;
      color: $gray;
      font-size: 1.4rem;
    }
  }

  &__table {
    display: none;
  }
}

.about {
  padding-top: 60px;
  position: relative;

  @include backSquare (
    $top: 120px,
    $height: calc(100% - 60px),
  ) {
    background-color: $sub;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    padding: 60px 30px;
    margin: 0 20px;
    background-color: $white;
    border: 1px solid $black;
  }

  &__title {
    @extend .spTitle;
  }

  &__description {
    margin-bottom: 60px;
  }

  &__link {
    @extend .spBtn;

    &:hover {
      background-color: $white;
      color: $black;
      box-shadow: 5px 5px 10px rgba($accent, .5);
    }
  }

  &__image {
    margin: 60px 0;
  }
}

.consul {
  padding-top: 60px;

  &__title {
    @extend .spTitle;
  }

  &__container {
    position: relative;
    @include backSquare (
      $top: 60px,
      $height: calc(100% - 60px),
    ) {
      background-color: $sub;
    }
  }

  &__wrapper {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 1;
  }

  &__box {
    display: block;
    margin-bottom: 60px;
    background-color: $white;
    border: 1px solid $black;
  }

  &__mask {
    display: block;
    overflow: hidden;
  }

  &__image {
    transition: all .3s;

    &:hover {
      transform: rotate(5deg) scale(1.2);
      opacity: .8;
    }
  }

  &__description {
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    transition: all .3s;

    &::after {
      content: '\f105';
      font-family: 'FontAwesome';
      padding-left: 10px;
      font-size: 2.4rem;
    }

    &:hover {
      background-color: $main;
      color: $white;
    }
  }
}

.other {
  padding: 60px 20px;

  &__wrapper {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $white;
    margin: 0 auto 30px;
    border: 1px solid $black;
    position: relative;

    i {
      @extend .positionCenter;
      font-size: 5.0rem;
      color: $accent;
    }
  }

  &__description {
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 30px;
  }

  &__link {
    @extend .spBtn;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    perspective: 300px;

    @include backSquare {
      opacity: 0;
      background-color: $white;
      transition: all .3s;
      transform-origin: top center;
      transform: rotateX(90deg);
    }

    span {
      display: inline-block;
      transform: translateZ(20px);
    }

    &:hover {
      color: $black;

      &::before {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.footer {
  background-color: $main;
  padding: 50px 20px 60px;
  color: $white;

  &__title {
    display: none;
  }

  &__link {
    display: block;
    padding: 10px 0;
    font-size: 2.0rem;
    color: $white;
    transition: all .3s;

    &::before {
      content: '\f105';
      font-family: 'FontAwesome';
      font-weight: normal;
      padding-right: 10px;
      position: relative;
      top: -1px;
    }

    &:hover {
      color: $gray;
    }
  }

  &__inner-link {
    display: block;
    font-size: 1.6rem;
    padding: 10px 20px;
    color: $white;
    transition: all .3s;

    &:hover {
      color: $gray;
    }
  }

  &__copy {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 1.4rem;
  }
}

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 60px 30px;

  &__title {
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 30px;
    display: block;
  }

  &__sub {
    font-size: 2.0rem;
    font-weight: normal;
    border-left: 5px solid $accent;
    border-bottom: 1px solid $accent;
    padding: 0 0 10px 15px;
    margin-bottom: 30px;
  }

  &__ul {
    padding: 0 10px;
  }
  
  &__li {
    margin-bottom: 15px;
  }
}

.bx-wrapper {
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}

.bx-wrapper .bx-pager {
  text-align: right;
  padding-top: 0;
  bottom: -20px;
}

.bx-pager {
  transform-origin: right;
  transform: rotate(90deg);
}

.modaal-container {
  border-radius: 15px;
  background-color: $base !important;
}

.modaal-close {
  background-color: $white !important;
  border-radius: 50%;

  &::before,
  &::after {
    background-color: $accent !important;
  }

  &:hover {
    background-color: $main !important;

    &::before,
    &::after {
      background-color: $white !important;
    }
  }
}