.active {
  .global {
    &__btn {
      span {
        &:nth-of-type(1) {
          top: 18px;
          left: 18px;
          transform: translateY(6px) rotate(-135deg);
          width: 30%;
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          top: 30px;
          left: 18px;
          transform: translateY(-6px) rotate(135deg);
          width: 30%;
        }
      }
    }

    &__nav {
      display: block;
    }

    &__ul {
      opacity: 1;

    }

    &__circle {
      transform: scale(50);
    }
  }
}

.activeTime {
  .global {
    &__inner {
      display: block;
    }

    &__circleTime {
      transform: scale(50);
    }
  }
}

.dBlock {
  animation: dBlock .6s ease-in forwards;
  opacity: 0;

  @keyframes dBlock {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.fontChangeLarge {
  animation: fontChangeLarge .3s forwards;
  
  @keyframes fontChangeLarge {
    from {
      font-size: 62.5%;
    }
    to {
      font-size: 80%;
    }
  }
}

.fontChangeMedium {
  animation: fontChangeMedium .3s forwards;
  
  @keyframes fontChangeMedium {
    from {
      font-size: 80%;
    }
    to {
      font-size: 62.5%;
    }
  }
}

.navbarFixed {
  position: fixed;
  transform: translateY(-80px);
}

.fadeUpTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
  opacity: 0;
}

.fadeUp {
  animation: fadeUp .5s forwards;
  opacity: 0;

  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) {
      animation-delay: .1s * $i;
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

.fadeLeft {
  animation: fadeLeft .5s forwards;
  opacity: 0;

  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) {
      animation-delay: .1s * $i;
    }
  }

  @keyframes fadeLeft {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

.fadeRight {
  animation: fadeRight .5s forwards;
  opacity: 0;

  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) {
      animation-delay: .1s * $i;
    }
  }

  @keyframes fadeRight {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
}

.coverSlide {
  position: relative;
  overflow: hidden;

  @include backSquare {
    background-color: $main;
    z-index: 2;
    opacity: 0;
  }

  &.inView {
    &::before {
      animation: coverSlide 1.6s ease-in-out forwards;
      opacity: 1;

      @keyframes coverSlide {
        0% {
          transform-origin: left;
          transform: scaleX(0);
        }
        50% {
          transform-origin: left;
          transform: scaleX(1);
        }
        50.1% {
          transform-origin: right;
          transform: scaleX(1);
        }
        100% {
          transform-origin: right;
          transform: scaleX(0);
        }
      }
    }
  }
}

.imgZoom {
  opacity: 0;

  &.inView {
    opacity: 1;
    transition: all .3s ease;
    animation: imgZoom 1.6s ease-in-out forwards;

    @keyframes imgZoom {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      50.1% {
        opacity: 1;
        transform: scale(1.5);
      }
      100% {
        opacity: 1;
      }
    }
    
  }
}

.appear {
  .global {
    animation: appear .5s ease-in forwards;
    opacity: 0;

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  
  .hero {
    margin-top: 50px;
  }
}

.loader {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $main;
}

.progressbar-text {
  font-size: 3rem;

  span {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .progressbar-text {
    font-size: 5rem;
  
    span {
      font-size: 2rem;
    }
  }
}

.fontActive {
  background-color: $main !important;
  color: $white !important;
}