@media (min-width: 480px) {
  .consul {
    &__box {
      width: 100%;
      max-width: 400px;
    }
  }
}

@media (min-width: 768px) {
  .consul {
    &__box {
      width: 100%;
      max-width: 300px;
    }
  }
}

@media (min-width: 1024px) {
  .contentWidth {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
  }

  .global {
    overflow-x: hidden;

    &__btn {
      display: none;
    }

    &__time {
      display: none;
    }
  }

  .header {
    position: absolute;
    height: 80px;
    background-color: $base;

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
    }

    &__title {
      text-align: left;
      font-size: 2.4rem;
      line-height: 80px;

      a {
        color: $black;
      }
    }

    &__font {
      display: block;
      line-height: 80px;
    }

    &__ul {
      display: flex;
    }

    &__li {
      font-size: 1.8rem;

      &:first-child {
        padding-right: 15px;
      }

      a {
        padding: 15px;
        border: 1px solid $black;
        background-color: $white;
      }
    }
  }

  .navbar {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: $main;

    &__ul {
      @extend .contentWidth;
      display: flex;
    }

    &__li {
      width: calc(100% / 6);
      border-left: 1px solid $white;

      a {
        line-height: 64px;
        color: $white;
      }

      &:last-child {
        border-right: 1px solid $white;
      }
    }

    &__link {
      display: block;
      text-align: center;
    }

    &__inner {
      opacity: 0;
      background: $main;
      visibility: hidden;
      transition: all .3s;
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;

      a {
        display: block;
        line-height: 64px;
        text-align: center;
        border-top: 1px solid $white;
      }
    }

    .hasChild {
      position: relative;

      &::before {
        content: '\f107';
        font-family: 'FontAwesome';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.4rem;
        color: $white;
      }

      &:hover {
        &::before {
          content: '\f106';
        }

        .navbar__inner {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .hero {
    margin-top: calc(80px + 64px);
    margin-bottom: 90px;
    height: calc(100vh - 80px - 64px);

    &__slider {
      height: calc(100vh - 80px - 64px);
    }

    &__slide {
      height: calc(100vh - 80px - 64px);
    }

    &__news {
      width: 50%;
      max-width: 540px;
      border-radius: 0 10px 10px 0;
    }

    &__container {
      padding-right: 0;
    }

    &__head {
      font-size: 2.0rem;
    }

    &__wrapper {
      display: flex;

      dt {
        padding-right: 20px;
        margin-bottom: 0;
      }
    }

    &__table {
      display: block;
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 0;
      background-color: $white;
      width: 500px;
      border: 1px solid $black;
      border-radius: 10px 0 0 10px;
      cursor: pointer;
      transform: translateX(440px);
      transition: transform .8s ease-in-out;

      table {
        display: block;
        padding: 30px 30px 30px 80px;

        thead {
          border-bottom: 1px solid $black;
        }

        th {
          padding: 10px;
          text-align: center;
          font-weight: normal;

          &:first-child {
            border-right: 1px solid $black;
            margin-right: 5px;
            display: block;
            padding-right: 15px;
          }
        }
        td {
          padding: 10px;
          text-align: center;

          &:first-child {
            border-right: 1px solid $black;
            margin-right: 5px;
            display: block;
            padding-right: 15px;
          }
        }
      }

      &:hover {
        transform: translateX(0);
      }

      &.tableHover {
        transform: translateX(0);
      }

      &.tableFixed {
        position: fixed;
        bottom: calc(100% - 64px - 308px);
      }
    }

    &__vertical {
      writing-mode: vertical-lr;
      position: absolute;
      top: 24%;
      left: 10px;
      font-weight: normal;
      font-size: 2.4rem;

      &::before {
        content: '\f017';
        font-family: 'FontAwesome';
        padding-bottom: 5px;
      }
    }

    &__text {
      padding: 30px 30px 30px 80px;
    }

    &__tel {
      margin-top: 5px;

      &::before {
        content: '\f095';
        font-family: 'FontAwesome';
        padding-right: 10px;
      }
    }
  }

  .about {
    &::before {
      height: calc(100% - 60px);
    }

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
      border: 2px solid $black;
      background-color: $white;
      flex-direction: row-reverse;
      padding: 30px;
    }

    &__wrapper {
      padding: 20px;
      width: 50%;
      border: none;
    }

    &__title {
      padding-top: 90px;
    }

    &__image {
      width: 50%;
    }
  }

  .consul {
    padding-top: 120px;
    
    &__wrapper {
      @extend .contentWidth;
      justify-content: space-between;
      padding: 0;
    }

    &__box {
      width: 100%;
      max-width: 250px;
    }
  }

  .other {
    padding-bottom: 0;

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      width: calc(100% / 3);
    }
  }

  .footer {
    &__container {
      @extend .contentWidth;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    
    &__title {
      font-size: 2.4rem;
      display: block;
      width: 40%;
    }

    &__nav {
      width: 60%;
    }

    &__ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__copy {
      text-align-last: left;
      margin-top: 30px;
    }
  }

  .info {
    &__title {
      font-size: 3.2rem;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__image {
      width: 48%;
    }

    &__sub {
      font-size: 2.4rem;
    }
  }
}

.bx-pager {
  right: 10px;
}