@media (min-width: 1024px) {
  .contentWidth {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
  }

  .global {
    &__btn {
      display: none;
    }

    &__time {
      display: none;
    }
  }

  .header {
    position: absolute;
    height: 80px;

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
    }

    &__title {
      text-align: left;
      font-size: 2.4rem;
      line-height: 80px;
    }

    &__font {
      display: block;
      line-height: 80px;
    }

    &__ul {
      display: flex;
    }

    &__li {
      font-size: 1.8rem;

      &:first-child {
        padding-right: 15px;
      }

      a {
        padding: 15px;
        border: 1px solid $black;
        background-color: $white;
      }
    }
  }

  .navbar {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: $sub;
    height: 80px;

    &__ul {
      @extend .contentWidth;
      display: flex;
    }

    &__li {
      width: calc(100% / 6);

      &:last-child {
        a {
          border-right: 1px solid $black;
        }
      }
    }

    &__link {
      display: block;
      text-align: center;
      line-height: 80px;
      border-left: 1px solid $black;
    }

    &__inner {
      display: none;
    }
  }

  .hero {
    margin-bottom: 90px;

    &__news {
      width: 40%;
    }

    &__head {
      font-size: 2.0rem;
    }

    &__wrapper {
      display: flex;

      dt {
        padding-right: 20px;
        margin-bottom: 0;
      }
    }

    &__table {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $white;
      width: 480px;
      border: 1px solid $black;
      border-radius: 10px 0 0 10px;

      table {
        display: block;
        padding: 30px;

        thead {
          border-bottom: 1px solid $black;
        }

        th {
          padding: 10px;
          text-align: center;
          font-weight: normal;

          &:first-child {
            border-right: 1px solid $black;
            margin-right: 5px;
            display: block;
            padding-right: 15px;
          }
        }
        td {
          padding: 10px;
          text-align: center;

          &:first-child {
            border-right: 1px solid $black;
            margin-right: 5px;
            display: block;
            padding-right: 15px;
          }
        }
      }
    }

    &__text {
      display: flex;
      justify-content: space-between;
      padding: 0 30px 30px;
    }

    &__tel {
      &::before {
        content: '\f095';
        font-family: 'FontAwesome';
        padding-right: 10px;
        font-size: 2rem;
      }
    }
  }

  .about {
    &::before {
      height: calc(100% - 60px);
    }

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
      border: 2px solid $black;
      background-color: $white;
      flex-direction: row-reverse;
      padding: 30px;
    }

    &__wrapper {
      padding: 20px;
      width: 50%;
      border: none;
    }

    &__title {
      padding-top: 90px;
    }

    &__image {
      width: 50%;
    }
  }

  .consul {
    padding-top: 120px;
    
    &__wrapper {
      @extend .contentWidth;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
    }

    &__box {
      width: 100%;
      max-width: 250px;
    }
  }

  .other {
    padding-bottom: 0;

    &__container {
      @extend .contentWidth;
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      width: calc(100% / 3);
    }
  }

  .footer {
    &__container {
      @extend .contentWidth;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    
    &__title {
      font-size: 2.4rem;
      display: block;
      width: 50%;
    }

    &__nav {
      width: 50%;
    }

    &__ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__copy {
      text-align-last: left;
      margin-top: 30px;
    }
  }
}