@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "YuGothic", "Yu Gothic", "游ゴシック", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fbfdf1;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.positionCenter, .global__ul, .global__time i, .other__box i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navCover, .global__nav, .global__inner {
  background: cyan;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.spTitle, .about__title, .consul__title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 60px;
}

.spBtn, .about__link, .other__link {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #333;
  background-color: magenta;
}

.global {
  position: relative;
}

.global__btn {
  position: fixed;
  top: 0;
  left: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.global__btn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #333;
}

.global__btn span:nth-child(1) {
  top: 15px;
  width: 45%;
}

.global__btn span:nth-child(2) {
  top: 23px;
  width: 35%;
}

.global__btn span:nth-child(3) {
  top: 31px;
  width: 20%;
}

.global__nav {
  display: none;
}

.global__ul {
  text-align: center;
}

.global__li {
  font-size: 2rem;
}

.global__li a {
  display: block;
  padding: 15px;
}

.global__time {
  position: fixed;
  top: 0;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.global__time i {
  font-size: 3.0rem;
}

.global__inner {
  display: none;
}

.global__wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

.global__sub {
  text-align: center;
  font-size: 2.8rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.global__description {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global__description dt {
  font-size: 2rem;
  margin-bottom: 5px;
  width: 30%;
}

.global__description dd {
  text-align: right;
}

.global__description span {
  display: block;
}

.header {
  background-color: #86e668;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
}

.header__container {
  padding: 0 20px;
}

.header__title {
  text-align: center;
  font-size: 2.0rem;
  font-weight: normal;
  line-height: 50px;
}

.header__font {
  display: none;
}

.navbar {
  display: none;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero__slide {
  height: 100vh;
  background-image: url(../img/cat.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__news {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #333;
}

.hero__container {
  padding: 20px;
}

.hero__head {
  font-size: 2.4rem;
  font-weight: normal;
}

.hero__wrapper {
  margin-top: 15px;
}

.hero__wrapper dt {
  margin-bottom: 5px;
  color: #cecece;
  font-size: 1.4rem;
}

.about {
  padding-top: 60px;
  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 120px);
  background-color: cyan;
}

.about__container {
  padding: 60px 30px;
  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #333;
  position: relative;
  z-index: 1;
}

.about__description {
  margin-bottom: 60px;
}

.about__image {
  position: relative;
  z-index: 1;
}

.consul {
  padding-top: 60px;
}

.consul__container {
  padding: 0 20px;
  position: relative;
}

.consul__container::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: magenta;
}

.consul__wrapper {
  display: block;
  margin-bottom: 60px;
  background-color: #fff;
  border: 1px solid #333;
  position: relative;
  z-index: 1;
}

.consul__description {
  padding: 20px 0;
  text-align: center;
  font-size: 2rem;
  position: relative;
  z-index: 1;
}

.consul__description::after {
  content: '\f105';
  font-family: 'FontAwesome';
  padding-left: 10px;
  font-size: 2.4rem;
}

.other {
  padding: 60px 20px;
  background-color: cyan;
}

.other__wrapper {
  margin-bottom: 60px;
}

.other__wrapper:last-child {
  margin-bottom: 0;
}

.other__box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 30px;
  border: 1px solid #333;
  position: relative;
}

.other__box i {
  font-size: 8.0rem;
}

.other__description {
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 30px;
}

.footer {
  background-color: #86e668;
  padding: 50px 20px 60px;
}

.footer__title {
  display: none;
}

.footer__link {
  display: block;
  padding: 10px 0;
  font-size: 2.0rem;
}

.footer__link::before {
  content: '\f105';
  font-family: 'FontAwesome';
  font-weight: normal;
  padding-right: 10px;
  position: relative;
  top: -1px;
}

.footer__inner-link {
  display: block;
  font-size: 1.6rem;
  padding: 10px 20px;
}

.footer__copy {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 1.4rem;
}

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: cyan;
  padding: 60px 30px;
}

.info__title {
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}

.info__description {
  margin-bottom: 30px;
}

.info__image {
  margin-bottom: 30px;
  display: block;
}

.info__sub {
  font-size: 2.0rem;
  font-weight: normal;
  border-left: 5px solid #333;
  border-bottom: 1px solid #333;
  padding: 0 0 10px 15px;
  margin-bottom: 30px;
}

.info__ul {
  padding: 0 10px;
}

.info__li {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .contentWidth, .header__container, .navbar__ul {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
  }
  .global__btn {
    display: none;
  }
  .global__time {
    display: none;
  }
  .header {
    position: absolute;
    height: 80px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    text-align: left;
    font-size: 2.4rem;
    line-height: 80px;
  }
  .header__font {
    display: block;
    line-height: 80px;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__li {
    font-size: 1.8rem;
  }
  .header__li:first-child {
    padding-right: 15px;
  }
  .header__li a {
    padding: 15px;
    border: 1px solid #333;
    background-color: #fff;
  }
  .navbar {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: cyan;
    height: 80px;
  }
  .navbar__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__li {
    width: calc(100% / 6);
  }
  .navbar__li:last-child a {
    border-right: 1px solid #333;
  }
  .navbar__link {
    display: block;
    text-align: center;
    line-height: 80px;
    border-left: 1px solid #333;
  }
  .navbar__inner {
    display: none;
  }
  .hero__news {
    width: 40%;
  }
  .hero__head {
    font-size: 2.0rem;
  }
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__wrapper dt {
    padding-right: 20px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */